.issue {
  color: #8e8e8e;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  transition: 0.2s;
  cursor: grab;

  &:active {
    cursor: grabbing;
    background-color: #dadada !important;
  }

  &:hover {
    background-color: #eeeeee;
  }

  h4 {
    color: #000;
  }
  .issueData,
  .issueInfo {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  .issueData {
    span {
      &:last-child {
        margin: 0 0 0 10px;
      }
    }
  }
  .issueInfo {
    .stick {
      margin: 0 10px;
    }
  }
}
