.appContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .columnsContiner {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
}
